# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Cache objects
packer_cache/
Images/credentials.pkr.hcl
credentials.auto.tfvars
